.main-chat
 .group-info
  .main-header
   ワンワンパニック 
   .main-header__group-name
    member :: kimie,haruto
  = link_to "Edit", "#" ,class: "edit-btn"
 .message-list
  .posts
   .post-messages
    .post-messages__group-name
     team
    .post-messages__post-date
     2020,03,06
   .message-text
    おはよう
  .posts
   .post-messages
    .post-messages__group-name
     team
    .post-messages__post-date
     2020,03,06
   .message-text
    おはよう
  .posts
   .post-messages
    .post-messages__group-name
     team
    .post-messages__post-date
     2020,03,06
   .message-text
    おはよう
  .posts
   .post-messages
    .post-messages__group-name
     team
    .post-messages__post-date
     2020,03,06
   .message-text
    おはよう
  .posts
   .post-messages
    .post-messages__group-name
     team
    .post-messages__post-date
     2020,03,06
   .message-text
    おはよう
 .message-form
  %form.new_message
   .input-box
    %input{type:"text",class:"input-box__text",placeholder:"type a message"}
    %label{class:"input-box__image"}
     = icon('fas','image')
     %input{type:"file",class:"input-box__image__file"}
   %input{type:"submit",class:"submit-btn"}
